# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Aamukh Capital
NEXT_PUBLIC_APP_DESCRIPTION=The 1% Angel Collective

# Analytics
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_HOTJAR_ID=

# Contact / Forms
CONTACT_FORM_ENDPOINT=
